# Replace with a hostname whose DNS points to this server.
logs.example.com {
    request_body {
        max_size 3MB
    }
    reverse_proxy 127.0.0.1:8000
    header Strict-Transport-Security "max-age=31536000"
}
